@font-face{
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Regular.woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face{
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Bold.woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}


:root{
	--azul1: #001329;
	--azul2: #243549;
	--azul3: #E3F0FF;
	--azultextobajo: #6f7782;
	--gris1: #F6F6F6;
	--gris2: #91a0b5;
	--cyan1: #4EEAFF;
	--cyan2: #4bb8c7;
	--servicios: #F4F9FF;
	--tramites: #F6F6F6;
	--morena1: #FFC6C3;
	--pan1: #E2ECFF;
	--pes1: #F4E4FF;
	--verde1: #CBFFC6;
	--fuerza1: #FFD0E9;
}
.dependencia-contacto_item.bloqueo{
	cursor: not-allowed;
	opacity: 0.2;
}
*{
	font-family: 'Roboto', sans-serif;	
}

.menu{
	width: 100%;
	height: auto;
	padding: 25px 0px;
	
}
.menu-pages{
	background: var(--azul1);
}
.menu-index{
	background: var(--cyan1);
}
.menu-container{
	display: flex;
	justify-content: space-between;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.logo img{
	width: 25px;
	margin-right: 10px;
}
.logo span{
	color: var(--azul3);
	font-size: 14px;
}
.menu-links{
	list-style: none;
	display: flex;
	column-gap: 30px;
	margin: 0px;
}
.menu-links-item{
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

.contenedor-menu-movil{
	position: relative;
	display: none;
}
.menu-index .menu-links-item{
	color: var(--azul2);
}
.menu-pages .menu-links-item:visited{
	color: var(--azul3);
}
.menu-pages .menu-links-item {
	color: var(--azul3);
}


#menu-movil{
	display: none;
	transition: all 0.2s;
}
#closeH{
	display: none;
	transition: all 0.5s;
}

.banner{
	position: relative;
	height: 400px;
	background: rgb(78,234,255);
	background: -webkit-linear-gradient(rgba(78,234,255,1) 12%, rgba(94,110,255,0.17689073920583853) 66%);
	background: -o-linear-gradient(rgba(78,234,255,1) 12%, rgba(94,110,255,0.17689073920583853) 66%);
	background: linear-gradient(rgba(78,234,255,1) 12%, rgba(94,110,255,0.17689073920583853) 66%);
	
}

.banner .content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
.banner .content h1{
	font-size: 36px;
	color: var(--azul1);
	font-weight: 700;
}
.banner .content span{
	font-weight: 400;
	color: var(--azul2);
	font-size: 24px;
}
.banner .content strong{
	background: #ffffff;
	color: var(--azul1);
	align-self: flex-start;
	padding: 10px 25px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin-top: 30px;
}
.content-image{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: end;
}
.imagen-gobierno{
	width: 275px;
	aspect-ratio: 1;
}


/* ---- info ---*/
.info{
	padding: 60px 0px;
}
.info-image{
	width: 86px;
}
.info-title, .info-parrafo{
	font-size: 16px;
	color: var(--azul2);
	text-align: left;
	line-height: 200%;
}
.info-title{
	margin-bottom: 20px;
}


/* -- dependencias --*/
.dependencias{
	height: auto;
	width: 100%;
	padding: 80px 0px 150px;
}
.dependencias-textos{
	margin-bottom: 60px;
}
.dependencias-textos_title{
	font-size: 36px;
	font-weight: 700;
	color: var(--azul1);
	text-transform: uppercase;
	text-align: center;
}
.dependencias-textos_parrafo{
	font-size: 14px;
	color: var(--azul2);
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
	line-height: 180%;
}
.dependencias-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}
.dependencias-card{
	background: var(--gris1);
	display: flex;
	align-items: center;
	padding: 0px 30px;
	min-height: 100px;
	border-radius: 10px;
	text-decoration: none;
	position: relative;
}

.dependencias-card_image{
	width: 52px;
}
.dependencias-card_title{
	font-size: 16px;
	line-height: 150%;
	color: var(--azul2);
	margin-left: 15px;
	margin-bottom: 0px;
	font-weight: 400;
}
.dependencia-page{
	width: 25px;
	position: absolute;
	right: -10px;
	top: -10px;
	display: none;
}


/* --- redes ---*/
.redes{
	height: auto;
	width: 100%;
	padding: 50px 0px 150px;
}
.redes-parrafo{
	font-size: 18px;
	line-height: 200%;
	color: var(--azul2);
	font-weight: 400;
	text-align: left;
	padding-right: 30px;
}
.redes-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	padding-top: 10px;
}
.redes-card_people{
	display: flex;
	align-items: center;
	border-radius: 100px;
	text-decoration: none;
}
.redes-card_people img{
	width: 58px;
	border-radius: 100px;
}
.redes-card_people span{
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 0px;
	color: var(--azul2);
	line-height: 130%;
}

/* modificadores colores */
.redes-card_people--azul{
	border: 2px solid #4081FF;
}
.redes-card_people--azul:hover{
	background: #4081FF;
}
.redes-card_people--azul:hover > span{
	color: #ffffff;
}
.redes-card_people--cyan{
	border: 2px solid #4EEAFF;
}
.redes-card_people--cyan:hover{
	background: #4EEAFF;
}
.redes-card_people--cyan:hover > span{
	color: #00000;
}
.redes-card_people--red{
	border: 2px solid #FF5876;
}
.redes-card_people--red:hover{
	background: #FF5876;
}
.redes-card_people--red:hover > span{
	color: #ffffff;
}



/* --- comunidad --- */
.comunidad{
	height: auto;
	width: 100%;
	padding: 40px 0px;	
}
.comunidad-content{
	background: rgb(64,129,255);
	background: -webkit-linear-gradient(rgba(64,129,255,1) 0%, rgba(78,234,255,1) 100%);
	background: -o-linear-gradient(rgba(64,129,255,1) 0%, rgba(78,234,255,1) 100%);
	background: linear-gradient(rgba(64,129,255,1) 0%, rgba(78,234,255,1) 100%);
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	border-radius: 5px;
	padding: 0px 50px;
	min-height: 170px;
	align-items: center;
}
.comunidad-content::before{
	content: "";
	height: 100%;
	width: 100%;
	background: inherit;
	transform: translateY(25px) scale(0.95);
	filter: blur(15px);
	opacity: 0.7;
	position: absolute;
	z-index: -2;
}
.comunidad-content_title{
	color: #fff;
	font-size: 18px;
	margin: 0px;
	line-height: 150%;
}
.comunidad-content-items{
	display: flex;
	list-style: none;
	gap: 45px;
}
.comunidad-content-items li img{
	width: 72px;
}


/* -- footer -- */
footer{
	height: auto;
	width: 100%;
	padding: 50px 0px;
	text-align: right;
}
footer h5{
	font-size: 18px;
	color: var(--azul1);
	font-weight: 400;
}
footer h5 strong a:link{
	text-decoration: none;
	color: var(--azul1);
}
footer h5 strong a:visited{
	color: var(--azul1);
}





/* ---------------------------------------- dependencias ------------------------------------------------------*/

.dependencia, .gabinete{
	width: 100%;
	height: auto;
	padding: 20px 0px 40px;
	background: var(--azul1);
}

.dependencia-info_logo, .gabinete-info_logo{
	height: 97px;
}
.dependencia-info_title, .gabinete-info_title{
	font-size: 32px;
	font-weight: 700;
	color: var(--azul3);
	margin: 25px 0px;
}
.dependencia-info-director{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.director{
	height: 42px;
	margin-right: 20px;
	border-radius: 100px;
}
.dependencia-info-director p, .gabinete-info_parrafo p{
	font-size: 14px;
	line-height: 200%;
	color: var(--gris2);
	margin: 0px;
}

.dependencia-contacto{
	display: flex;
	gap: 30px;
	justify-content: flex-end;
	height: 100%;
	align-items: flex-end;
}
.dependencia-contacto_item{
	background: var(--cyan1);
	border-radius: 10px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--azul1);
	text-decoration: none;
	border: 2px solid transparent;
	transition: all 0.5s ease-out;
}

.dependencia-contacto_item:visited{
	background: var(--cyan1);
	color: var(--azul1);
}


.dependencia-contacto_item i{
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}


/* ----- horario ------*/
#openHorarioEscritorio, #openHorarioMovil{
	cursor: pointer;
}
.horario{
	height: 100vh;
	width: 50vw;
	position: fixed;
	background: var(--azul3);
	top: 0;
	left: -50vw;
	padding: 25px;
	z-index: 10;
	transition: all 0.5s;
}
.horario-header h5{
	text-align: center;
	font-size: 32px;
	color: var(--azul1);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.horario-body{
	padding: 0px 50px;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}
.horario-days{
	list-style: none;
	color: var(--azul1);
	padding: 0px;
	margin-bottom: 0px;
}
.horario-days_item{
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.horario-days_item:not(:first-child){
	border-top: 1px solid #c0ddff;
}
.day, .hora{
	font-size: 16px;
}
.hora.cerrado{
	color: red;
}
.close-horario{
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 24px;
	border: 2px solid var(--azul1);
	height: 40px;
	width: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--azul1);
	cursor: pointer;
	transition: all 0.5s;
}
.close-horario:hover{
	background: var(--azul1);
	color: var(--cyan1);
	transition: all 0.5s;
}
.open-horario_escritorio{
	left: 0;
	transition: all 0.5s;
}
#closeHorarioMovil, #openHorarioMovil{
	display: none;
}

/*---- information documentacion ---*/
.information{
	width: 100%;
	height: auto;
	padding: 80px 0px 100px;
}

.information-texto{
	padding-bottom: 80px;
	font-size: 18px;
	line-height: 200%;
	color: var(--azul2);
	font-weight: 400;
	text-align: left;
}

.information-datos{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.information-datos_card{
	background: pink;
	border-radius: 10px;
	padding: 25px 20px 50px 25px;
}
.information-datos_head{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.information-datos_head i{
	font-size: 32px;
	margin-right: 15px;
}
.information-datos_head h3{
	font-weight: 700;
	font-size: 24px;
	margin: 0px;
}
.information-datos_body ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.information-datos_body ul li{
	line-height: 180%;
	font-size: 14px;
	display: flex;
}
.information-datos_body ul li:not(:last-child){
	margin-bottom: 15px;
}
.information-datos_body ul li i{
	margin-right: 10px;
	font-size: 18px;
}
.information-datos_card.servicios{
	background: var(--servicios);
	color: var(--azul1);
}
.information-datos_card.tramites{
	background: var(--tramites);
	color: var(--azul1);
}



/* ---- programas ---*/
.programas{
	width: 100%;
	height: auto;
	padding: 0px 0px 100px;
}
.programas-title{
	padding-bottom: 45px;
}
.programas-title h4{
	font-size: 32px;
	color: var(--azul1);
	text-transform: uppercase;
	font-weight: 700;
}

.programas-container_card{
	display: flex;
	border: 2px solid var(--cyan1);
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 35px;
}
.programas-container_card-body{
	display: flex;
	flex-direction: column;
}
.programas-container_card img{
	height: 100px;
	border-radius: 100px;
	margin-right: 15px;
}
.programas-container_card-body-title{
	font-size: 24px;
	color: var(--azul1);
	font-weight: 700;
	margin-bottom: 15px;
}
.programas-container_card-body-parrafo{
	font-size: 14px;
	line-height: 180%;
	color: var(--azultextobajo);
	margin: 0px;
	padding-bottom: 15px;
}
.boton-programa{
	align-self: flex-end;
	text-decoration: none;
	background: var(--cyan1);
	border-radius: 25px;
	padding: 10px 30px;
	color: var(--azul1);
	font-size: 14px;
	font-weight: 700;
	
}



/* -------------gabinete --------*/
.gabinete-person{
	padding-top: 100px;
	padding-bottom: 250px;
}
.gabinete-person-title{
	font-size: 24px;
	font-weight: 700;
	color: var(--azul1);
	text-align: center;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 50px;
}
.card-person{
	display: flex;
	align-items: center;
	padding: 15px;
}
.imagen-person{
	border-radius: 100%;
	margin-right: 15px;
}
.card-person-info_title{
	color: var(--azul1);
	font-weight: 700;
	margin-bottom: 5px;
}
.card-person-info_puesto{
	color: var(--azul2);
	font-weight: 400;
}
.presidente .imagen-person{
	width: 160px;
	height: 160px;
	object-fit: cover;
}
.card-person.presidente{
	margin-bottom: 100px;
	justify-content: center;
}
.presidente .card-person-info_title{
	font-size: 24px;
}
.presidente .card-person-info_puesto{
	font-size: 18px;
}
.card-person.sindico, .card-person.regidor, .card-person.titular-dependencia{
	border-radius: 10px;	
}
.card-person.regidor, .card-person.titular-dependencia{
	margin-bottom: 30px;
}
.sindico .imagen-person, .regidor .imagen-person{
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.sindico .card-person-info_title, .regidor .card-person-info_title, .titular-dependencia .card-person-info_title{
	font-size: 18px;
}
.sindico .card-person-info_puesto, .regidor .card-person-info_puesto, .titular-dependencia .card-person-info_puesto{
	font-size: 14px;
}
.card-person.titular-dependencia{
	padding: 0px 10px 0px 0px;
	background: var(--gris1);
}
.titular-dependencia .imagen-person{
	width: 140px;
	height: 120px;
	border-radius:10px 0px 0px 10px;
	object-fit: cover;
	flex-shrink: 0;
}
.morena{
	background: var(--morena1);
}
.pan{
	background: var(--pan1);
}
.pes{
	background: var(--pes1);
}
.verde{
	background: var(--verde1);
}
.fuerza{
	background: var(--fuerza1);
}


/* ------------------------------------------- responsive -----------------------------------------*/




@media screen and (max-width: 991px){

	.banner .content h1{
		font-size: 28px;
	}
	
	/* --- dependencias ---*/
	.dependencias-container{
		grid-template-columns: 1fr 1fr;
	}
	
	/* -- redes sociales --*/
	.redes-content{
		grid-template-columns: 1fr;
	}
	
	/*-- comunidad --*/
	.comunidad-content-items{
		gap: 15px;
	}
	
	/*------ template ----*/
	.dependencia-contacto{
		flex-direction: column;
	}
	
	/*--------- horario -----*/
	.horario-body{
		padding: 0px 30px;
	}
	
	
}


@media screen and (min-width: 768px){
	.dependencias-card{
		transition: 0.8s all;
	}
	.dependencias-card:hover{
	background: var(--azul1);
	transition: 0.8s all;
	}
	.dependencias-card:hover .dependencias-card_title{
		color: #ffffff;
	}
}



@media screen and (max-width: 767px){
	/* ---- banner ---*/
	.banner{
		height: auto;
		padding: 70px 0px 50px;
	}
	.banner .content{
		text-align: center;
	}
	.banner .content h1{
		margin-top: 20px;
	}
	.banner .content span{
		font-size: 18px;
	}
	.banner .content strong{
		align-self: center;
		margin-top: 15px;
	}
	.imagen-gobierno{
		width: 120px;
	}
	
	
	/* --- seccion info --*/
	.info-image{
		display: none;
	}
	
	/* --- dependencias --*/
	.dependencias{
		padding: 50px 0px 120px;
	}
	.dependencias-card{
		min-height: auto;
		padding: 15px 30px;
	}
	.dependencias-textos_parrafo{
		margin-left: 0px;
		margin-right: 0px;
	}
	.dependencias-container{
		grid-template-columns: 1fr;
	}
	
	.dependencias-card:active{
	background: #C1C1C1;
	
	}
	/*
	.dependencias-card:active .dependencias-card_title{
		color: #ffffff;
	}*/
	
	
	/* ---- redes sociales ---*/
	.redes-parrafo{
		padding-right: 0px;
		padding-bottom: 30px;
		font-size: 16px;
	}
	.redes-content{
		grid-template-columns: 1fr 1fr;
	}
	
	
	/* ---- comunidad ---*/
	.comunidad-content{
		height: auto;
		padding: 50px 10px;
		grid-template-columns: 1fr;
		text-align: center;
		gap: 25px;
	}
	.comunidad-content-items{
		justify-content: center;
		margin: 0px;
		padding: 0px;
	}
	
	
	footer{
		text-align: center;
	}
	
	
	/* ----- template -------*/
	.menu{
		position: fixed;
		top: 0;
		padding: 10px 0px;
		z-index: 5;
	}
	.contenedor-menu-movil{
		display: block;
	}

	#menu-movil{
		display: block;
		font-size: 24px;
		color: var(--azul3);
		cursor: pointer;
		transition: all 0.2s;
	}
	.menu-index #menu-movil{
		color: var(--azul1);
	}
	.menu-index .menu-links-item{
		color: var(--azul3);
	}
	.menu-index .menu-links-item:hover{
		color: var(--cyan1);
	}
	
	
	.menu-links{
		position: fixed;
		background: var(--azul2);
		flex-direction: column;
		height: 100vh;
		width: 70vw;
		right: -100%;
		top: 0;
		transition: all 0.5s;
		padding-left: 50px;
		padding-top: 90px;
		gap: 40px;
		z-index: 6;
	}
	#closeH{
		color: var(--azul3);
		position: absolute;
		font-size: 32px;
		cursor: pointer;
		/*display: block;*/
		z-index: 7;
		top: -5px;
		right: 5px;
		transition: all 0.5s;
	}
	
	.visible{
		right: 0;
	}
	.dependencia, .gabinete{
		padding-top: 100px;
	}
	.dependencia-info_title, .programas-title h4, .gabinete-info_title{
		font-size: 24px;
	}
	.dependencia-contacto {
		flex-direction: row;
		justify-content: center;
		margin-top: 40px;
		height: auto;
	}

	.information{
		padding: 50px 0px 100px;
	}
	.information-texto{
		font-size: 16px;
		padding-bottom: 50px;
	}
	.information-datos{
		grid-template-columns: 1fr;
	}
	
	
	.programas-container_card img{
		height: 80px;
	}
	.programas-container_card-body-title {
    	font-size: 18px;
	}
	
	
	/* ----horario ---*/
	.horario{
		height: auto;
		width: 90vw;
		right: 0;
		left: 0;
		bottom: -100%;
		top: auto;
		margin: 0 auto;
		border-radius: 10px 10px 0px 0px;
	}
	#closeHorarioEscritorio, #openHorarioEscritorio{
		display: none;
	}
	#closeHorarioMovil, #openHorarioMovil{
		display: flex;

	}
	.open-horario_movil{
		bottom: 0;
		transition: all 0.5s;
	}
	

	/*---------- gabinete -------*/
	.card-person.presidente{
		flex-direction: column;
		text-align: center;
	}
	.presidente .card-person-info_title{
		margin-top: 20px;
	}
	
	
}



@media screen and (max-width: 575px){
	.banner .content h1, .dependencias-textos_title{
		font-size: 24px;
	}
	.banner .content span, .comunidad-content_title{
		font-size: 16px;
	}
	.banner .content strong, .info-title, .info-parrafo, .dependencias-card_title, .redes-parrafo, .information-texto{
		font-size: 14px;
	}
	
	.dependencias, .redes{
		padding-top: 20px;
		padding-bottom: 60px;
	}
	.dependencias-textos{
		margin-bottom: 30px;
	}
	.dependencias-container{
		padding-right: 30px;
		padding-left: 30px;
	}
	.dependencias-card{
		padding: 15px;
	}
	
	.redes-content{
		grid-template-columns: 1fr;
		padding-right: 35px;
		padding-left: 35px;
	}
	
	.comunidad-content{
		padding: 30px 20px;
	}
	.comunidad-content-items{
		gap: 10px;
	}
	.comunidad-content-items li img{
		width: 52px;
	}
	
	
	/* --- template ----*/
	.menu-links{
		width: 100%;
	}
	
	.programas-container_card img{
		height: 60px;
	}
	.programas-container_card-body-title {
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	.programas-container_card-body-parrafo{
		font-size: 12px;
	}
	
	/* ---- horario -----*/
	.horario{
		width: 100vw;
		padding-top: 40px;
	}
	.horario-header h5{
		font-size: 24px;
		margin-bottom: 30px;
	}
	.day, .hora{
		font-size: 14px;
	}
	
	/* ----gabinete ----*/
	.gabinete-person{
		padding-top: 50px;
	}


	
}



@media screen and (max-width: 490px){
	.horario-body {
		padding: 0px;
	}
	.titular-dependencia .imagen-person{
		width: 120px;
	}
	.titular-dependencia .card-person-info_puesto{
		line-height: 0;
	}
}


@media screen and (max-width: 384px){
	.banner{
		padding: 70px 0px 20px;
	}
	.banner .content h1, .dependencias-textos_title{
		font-size: 20px;
	}
	.imagen-gobierno{
		width: 100px;
	}
	footer h5{
		font-size: 16px;
	}
}


/* --------- media hover para cuando el dispositivo no sea movil -----------*/

@media (hover: hover){
	.dependencia-contacto_item:hover{
		border: 2px solid var(--cyan1);
		background: var(--azul1);
		color: var(--cyan1);
		transition: all 0.5s ease-out;
	}
	.menu-pages .menu-links-item:hover{
		color: var(--cyan1);

	}

	



}


	

.menu-pages .menu-links-item:active{
		color: var(--cyan1);
		background: var(--azul2);
	}

.dependencia-contacto_item:active{
	background: var(--azul3);
	color: var(--azul1);
	border: 2px solid var(--azul3);
}